
head
  meta(charset='utf-8')
  title second-sight
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css')

  body
    if error
        .alert.alert-danger(role='alert')
          | #{error}

    .modal-dialog
        .modal-content
          .modal-header
            button.close(type="button", data-dismiss="modal")
            h4#myModalLabel.modal-title
              | Send File

          .modal-body
            form(role='form' enctype='multipart/form-data' method='POST' action='/')
              div.form-group
                label(for='text') Text:
                input#text.form-control(type='text', placeholder='Текстовая строка' name='text' )

              div.form-group
                label(for='file1') File 1:
                input#file1.form-control(type='file', name='file' )

              div.form-group
                label(for='file2') File 2:
                input#file2.form-control(type='file', name='file' )

              button.btn.btn-primary(type="submit", name="submit") Submit

    if result
      script.
        function downloadFile() {
          var result = "#{result}";
          var blob = new Blob([result], { type: 'text/plain' });
          var url = window.URL.createObjectURL(blob);
          var a = document.createElement("a");
          a.href = url;
          a.download = "Ответ на запрос.txt";
          document.body.appendChild(a);
          a.click();
          window.URL.revokeObjectURL(url);
          document.body.removeChild(a);
        }
      center
        button.btn.btn-primary(onclick="downloadFile()") Скачать файл